defaults:
  - filepaths: filepaths
  - _self_

mapped_rxns_fn: mapped_known_reactions_x_rc_plus_0_rules.parquet

hydra:
  run:
    dir: ${filepaths.processed_data}
  job:
    chdir: True
  sweep:
    dir: ${filepaths.processed_data}
    subdir: .
  sweeper:
    params:
      mapped_rxns_fn: mapped_known_reactions_x_mechinferred_dt_019_rules.parquet,mapped_known_reactions_x_mechinferred_dt_039_rules.parquet,mapped_known_reactions_x_mechinferred_dt_112_rules.parquet,mapped_known_reactions_x_mechinferred_dt_224_rules.parquet