defaults:
  - filepaths: filepaths
  - _self_

min_mapped: mapped_known_reactions_x_rc_plus_0_rules.parquet
mech_probas_dir: ${filepaths.processed_data}/mech_probas
decision_thresholds: [0.9562190771102905, 0.05624692514538765, 0.01461805310100317, 0.0060590095818042755, 0.0028916343580931425]

hydra:
  run:
    dir: ${filepaths.processed_data}
  job:
    chdir: True
  sweep:
    dir: ${filepaths.processed_data}
    subdir: .