defaults:
  - filepaths: filepaths
  - _self_

min_mapped: mapped_known_reactions_x_rc_plus_0_rules.parquet
mech_probas_dir: ${filepaths.processed_data}/mech_probas
# decision_thresholds: [0.2249877005815506, 0.1124938502907753, 0.03923610620200634, 0.02923610620200634]
decision_thresholds: [0.019]

hydra:
  run:
    dir: ${filepaths.processed_data}
  job:
    chdir: True
  sweep:
    dir: ${filepaths.processed_data}
    subdir: .